* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-alig
}

body {
    background-color: #f3f4f6;
    color: 50px;
}

header {
    background-color: #6d3a7d;
    padding: 20px 0;
    text-align: center;
}


nav ul{
    display: inline;
    margin: 0 15px;
}

nav ul a {
    background: whitesmoke;
    color: black;
    padding: 5px 5px;
    border-radius: 5px;
}

.hero {
    background: url('https://example.com/flower-background.jpg') no-repeat center center;
    background-size: cover;
    color: greenyellow;
    padding: 100px 20px;
    text-align: center;
} 

.hero h1 {
    font-size: 65px;
    margin-bottom: 5px;
    font-family: 'Bodoni MT Black';
}

.services {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.services p{
    color: black;
}

.services {
    width: 45%;
    text-align: center;
}

.services img {
    width: 250px;
    height: 45vh;
    border-radius: 8px;
    margin-left: 25px;
}

footer {
    background-color: #3a577d;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30vh;
    margin-top: 58px;
}

.about, .contact {
    padding: 40px;
    text-align: center;
}

form input, form textarea {
    width: 60%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #3a7d44;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #2a5c32;
}

nav{
    display:flex;
}

.introduction p{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 45px;
}

footer img{
    width: 40px;
    height: 30px;
    border-radius: 10px;
}

footer p{
    margin-top: 20px;
}
footer a{
    color: black;
    background: whitesmoke;
    padding: 7px 7px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 25px;
}

.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.ftt a{
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 25px;
}